
.App {
  text-align: center;

  display: flex;
  justify-content: space-evenly;
  margin: 150px;
  padding: 20px;

}
.counter_app{
  border: 4px solid #3BE4CDFF;
  background-color: #282c34;
  min-height: 100px;
   width: 250px;
  border-radius: 3px;

}

.app-header {
  background-color: #282c34;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size:25px;
  color: white;
  border: 4px solid #3BE4CDFF;
  border-radius: 3px;
  width: 250px;
}

span{
  color:#3be4cd;
}

.error {

  background: red;
}

.error_text {
  color: red;
  font-size: 20px;
}
.set{
  text-align: center;
  border: 3px solid #3BE4CDFF;
  border-radius: 3px;
}



.num {
  color: #1e438a;
  /*text-align: center;*/
  border-radius: 3px;
  /*background-color: #3be4cd;*/
  font-size: 23px;
  border: 3px solid #3BE4CDFF;
  width: 180px;
  height: 70px;
  align-content: center;
  padding-top: 10px;

}

.num_isDon {
  width: 180px;
  padding-top: 10px;
  color: red;
  height: 70px;
  /*margin: 0 auto;*/
  border-radius: 3px;
  /*background-color: #3be4cd;*/
  font-size: 23px;
  /*text-align: center;*/
  border: 3px solid #3BE4CDFF;
  align-content: center;
}

.counter_title {

  padding: 10px;
  border-radius: 3px;
 font-size: 15px;
}
.counter_border{
  border: 3px solid #3BE4CDFF;
  margin: 5px;
  padding: 15px;
  border-radius: 3px;
}

.btn {
  font-size: 20px;
  margin: 5px;
  border-radius: 3px;
  background-color: #3be4cd;
}

.btn_set{
  font-size: 20px;
  margin: 5px;
  border-radius: 3px;
  border: 3px solid #3BE4CDFF;
}

.btnDisabled {
  font-size: 20px;
  border-radius: 3px;
  margin: 5px;
  background-color: rgba(59, 228, 205, 0.29);
}

.block_bnt {

  border: 3px solid #3BE4CDFF;

  margin-top: 10px;
  margin-bottom: 8px;
  margin-right: 10px;
  margin-left: 10px;

  border-radius: 3px;

}
.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}
